.button-panel{
    display: inline-block;
    margin: 5px;
}

.metal.linear {
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    border-radius: 0.25rem;
    background-image:
            -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
            -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
            -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
            linear-gradient(180deg, hsl(0,0%,78%)  0%,
            hsl(0,0%,90%) 47%,
            hsl(0,0%,78%) 53%,
            hsl(0,0%,70%)100%);

    outline: none;
}


.metal:active {
    color: hsl(210, 100%, 40%);
    text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
    box-shadow:
            inset hsla(210,100%,30%,  1) 0 0 0 1px, /* border */
            inset hsla(210,100%,15%, .4) 0 -1px 2px 4px, /* soft SD */
            inset hsla(210,100%,20%,.25) -1px 0 3px, /* bottom SD */
            inset hsla(210,100%,100%,.7) 0  2px 1px 3px, /* top HL */
            hsla(210,100%,75%, .8) 0  0 3px 2px, /* outer SD */
            hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
            hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
    outline: none;
}


.metal {
    position: relative;
    outline: none;
    font: bold 6em/2em  Arial, Helvetica, Geneva, sans-serif;
    text-align: center;
    color: hsla(0,0%,20%,1);
    text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
    background-color: hsl(0,0%,90%);
    box-shadow:
            inset hsla(0,0%,15%,  1) 0 0 0 1px, /* border */
            inset hsla(0,0%,15%, .8) 0 -1px 2px 4px, /* soft SD */
            inset hsla(0,0%,0%, .25) 0 -1px 0 3px, /* bottom SD */
            inset hsla(0,0%,100%,.7) 0  2px 1px 3px, /* top HL */

            hsla(0,0%, 0%,.15) 0 -0.5px 6px 4px, /* outer SD */
            hsla(0,0%,100%,.5) 0  2px 6px 4px; /* outer HL */

    transition: color .2s;
}
